@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.infos {
    display: flex;
    flex-direction: row;
    gap: 52px;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
}

.imagens {
    width: 416px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

#imagem_principal {
    width: 416px;
    height: 324px;
    object-fit: cover;
}

.thumbnail_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s ease;
}

.thumbnail.active, .thumbnail:hover {
    border: 1px solid #009FE3;
}

.infos_direita {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 46px;
    max-width: 608px;
    gap: 26px;
}

.infos_produto {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    gap: 36px;
}

.infos_produto h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #000;
    text-transform: uppercase;
}

.infos_produto h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #13a6e4;
}

.description {
    width: 608px;
    height: 95px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.gray_text {
    margin: 0;
    width: 421px;
    height: 31px;
    color: rgba(30, 30, 30, 0.54);
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.ong_link {
    color: #0B236D;
    font-style: italic;
    width: 421px;
    height: 31px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
}

.ong_link:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.botão_quantidade {
    box-sizing: border-box;
    position: relative;
    width: 608px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #007AFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: #009FE3;
    text-align: center;
}

.icone_seta {
    position: absolute;
    right: 22px; /* Ajuste conforme o Figma */
    top: 50%; /* Alinha verticalmente */
    transform: translateY(-50%); /* Centraliza exatamente */
}

.botão_compra {
    width: 608px;
    height: 37px;
    background: #009FE3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-align: center;
    line-height: 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}